img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 5px;
}

.container{
    border: 1px solid black;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content: space-evenly;
    gap: 10px;
}