.parent{
    height: 1000vh;
    background-color: coral;
    width: 50%;
    border: 5px dashed brown;
}
.box{
    width: 300px;
    height: 300px;
    border: 1px and dotted peru;
}
.box1{
    background-color: blue;
    position: static;
}
.box2{
    background-color: blueviolet;
    position: relative;
    left: 20px;
}
.box3{
    background-color: burlywood;
    position:absolute;
    left: 50px;
}
.box4{
    background-color: chocolate;
    position: fixed;
}
.box5{
    background-color: crimson;
    position: sticky;
    top: 0px;
}